body {
    margin: 0;
}

nav {
    height: 50px;
    background-color: black;
    width: 100%;
    display: flex;
   
}

nav a {
    margin: auto;
    color: white;
    text-decoration: none;
}

section {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.headline-container {
    text-align: center;
    width: 300px;
    margin: 80px auto 30px auto;
}

.features-container {
    background-color: purple;
}

.video {
    background-color: green;
}

.pricing {
    display: flex;
}

.options-container {
    margin: auto;
}

.option {
    background-color: red;
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: auto;
}

.footer {
    background-color: black;
    height: 200px;
    color: white;
}